@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
